@import url(https://fonts.googleapis.com/css?family=Bungee);
body{
  background-color:	#FF1493;
}
h1{
  text-align: center;
  font-size:60px;
  color: #FFFAFA; 
  font-family: 'Prosto One', cursive;
}
#Menu{
  list-style-type : none;
  background: 	#FF1493;
  padding: 16px;
  width:100%;
}
li{
  display:inline;
  color: snow;
  font-size: 25px;
  padding: 15px 50px;
  width:14.2%;
  border: dotted white;
}
.Nav_Button:hover{
  background-color:#800080;
  color: white;
}
p{
  text-align: center;
  font-size: 35px;
  font-family: 'Walter Turncoat', cursive;
  color: 	#FFB6C1;
}
img{
  width: 40%;
  height: 15%;
  border: dotted white;
}
#caption{
  font-size: 25px;
  
}
.Nav_Button{
  background:pink;
  width: 250px;
  height: 65px;
  font-size: 20px;
  font-family: 'Rye', cursive;
  border: dotted white;
}

a{
	  text-decoration:none;
	  color:black;
}
.Dropdown{
	position:relative;
	display: inline-block;
}

.DropdownContent{
	display:none;
	position: absolute;
    background-color: #f1f1f1;
    width: 250px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family: 'Rye', cursive;
}

.DropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Dropdown:hover .DropdownContent {
    display: block;
}

.DropdownContent a:hover {
	background-color: #ddd
}

.Nav_Button2{
  background:pink;
  width: 150px;
  height: 45px;
  font-size: 15px;
  font-family: 'Rye', cursive;
  border: dotted white;
}
.Nav_Button2:hover{
  background: Purple;
  color: white;
}

.womenButton{
	height: 350px;
	width: 350px;
	background-color: white;
	font-size: 20px;
}

#woman1:hover:after{
	content: "was one of the pioneers in the early days of electronic computers. She and her team invented A-0, the world's first compiler. Then, determined to make programming accessible to more people, she replaced mathematical symbols in programming with everyday English words. Her English-language-based FLOW-MATIC was the bedrock of the 20th century's most widely used computer language COBOL (Common Business-Oriented Language).";
	font-size: 15px;
	text-align:center;
}

#woman2:hover:after{
	content: "has been called the world's first computer programmer. What she did was write the world's first machine algorithm for an early computing machine that existed only on paper. Of course, someone had to be the first, but Lovelace was a woman, and this was in the 1840s.";
	font-size: 15px;
	text-align:center;
}

#woman3:hover:after{
	content: "combined technical expertise and fearless vision to inspire, motivate, and move women to embrace technology. Her dedication to creating change helped women see themselves as active participants in the realm technology.";
	font-size: 15px;
	text-align:center;
}


