@import url(https://fonts.googleapis.com/css?family=Bungee);
body{
  background-color:	#FF1493;
}
h1{
  text-align: center;
  font-size:60px;
  color: #FFFAFA; 
  font-family: 'Prosto One', cursive;
}
#Menu{
  list-style-type : none;
  background: 	#FF1493;
  padding: 16px;
  width:100%;
}
li{
  display:inline;
  color: snow;
  font-size: 25px;
  padding: 15px 50px;
  width:14.2%;
  border: dotted white;
}
.Nav_Button:hover{
  background-color:#800080;
  color: white;
}
p{
  text-align: center;
  font-size: 35px;
  font-family: 'Walter Turncoat', cursive;
  color: 	#FFB6C1;
}
img{
  width: 40%;
  height: 15%;
  border: dotted white;
}
#caption{
  font-size: 25px;
  
}
.Nav_Button{
  background:pink;
  width: 250px;
  height: 65px;
  font-size: 20px;
  font-family: 'Rye', cursive;
 border: dotted white;
}

a{
	  text-decoration:none;
	  color:black;
}
.Dropdown{
	position:relative;
	display: inline-block;
}

.DropdownContent{
	display:none;
	position: absolute;
    background-color: #f1f1f1;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family: 'Rye', cursive;
}

.DropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Dropdown:hover .DropdownContent {
    display: block;
}

.DropdownContent a:hover {
	background-color: #ddd
}

.Nav_Button2{
  background:pink;
  width: 150px;
  height: 45px;
  font-size: 15px;
  font-family: 'Rye', cursive;
 border: dotted white;
}
.Nav_Button2:hover{
  background: Purple;
  color: white;
}




@import url(https://fonts.googleapis.com/css?family=Bungee);
body{
  background-color:	#FF1493;
}
h1{
  text-align: center;
  font-size:60px;
  color: #FFFAFA; 
  font-family: 'Prosto One', cursive;
}

body {
height:100vh;
width:100vw;
margin:0px;
}

#container {
position: relative;
background: #FFFAFA;
height:100%;
width:60%;
overflow: hidden;
margin:auto;
}

.off {
  color: rgba(0, 0, 0, 0.0) !important;
  background: rgba(230, 230, 250, 0.0) !important;
  -webkit-transition: all 2s; /* Safari */
transition: all 2s;
}

.cards {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
  width: 80%;
  height: 20%;
  position: absolute;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
  margin-left: 10%;
  margin-right: 10%;
 }
 
.cards .card.flipped {
  -webkit-transform: rotatex(-180deg);
  -moz-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
  height: 100%;
  z-index: 100;
}

.cards .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}

.cards .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  -moz-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
  font-size: 2em;
 font-family: arial, sans-serif;
  text-align: center;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.cards .card .front {
  position: absolute;
  background: tomato;
  z-index: 1;
}

.cards .card .back {
  -webkit-transform: rotatex(-180deg);
  -moz-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
  background: gold;
}

.cards .card .front,
.cards .card .back{
  cursor: pointer;
}

.big {
height:100%;
width:100%;
top: 0% !important;
margin-left: 0%;
margin-right: 0%;
z-index:100;
}

